ORIGIN=frontendCorsUrl
MONGO_URL=connectionString

AIRTABLE_URL=airtableUrl
AIRTABLE_API_KEY=airtableKey

JWT_HTTPS=false
JWT_SECRET=hard!to-guess_Secret
JWT_TIME_TO_LIVE=604800000
COOKIE_DOMAIN=cookieDomain

S3_REGION=region
S3_BUCKET=bucket
CDN_URL=cdnUrl
AWS_ACCESS_KEY_ID=awsAccessKeyId
AWS_SECRET_ACCESS_KEY=awsSecretAccessKey