MONGO_URL=connectionString
AIRTABLE_URL=airtableUrl
AIRTABLE_API_KEY=airtableKey
JWT_HTTPS=false
JWT_ACCESS_SECRET=hard!to-guess_AccessSecret
JWT_ACCESS_LIFETIME=900000
JWT_REFRESH_SECRET=hard!to-guess_RefreshSecret
JWT_REFRESH_LIFETIME=604800000